Repository sopt-makers/SOPT-iOS, pull requests merged in 2024-09, with the labels that each got.

#385 [Feat] #384 - 솝마디 결과 뷰 UI 구현
  SOPT-iOS/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Dependency+Project.swift
  SOPT-iOS/Projects/Core/Sources/Literals/StringLiterals.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Demo/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Demo/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Demo/Resources/Assets.xcassets/Contents.json
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Demo/Resources/LaunchScreen.storyboard
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Demo/Sources/Empty.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Interface/Empty.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Interface/Sources/DailySoptuneFeatureBuildable.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Interface/Sources/DailySoptuneResultPresentable.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Project.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/Coordinator/DailySoptuneBuilder.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/Coordinator/DailySoptuneCoordinator.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/VC/DailySoptuneResultVC.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/ViewModel/DailySoptuneResultViewModel.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/Views/DailySoptuneResultContentView.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/Views/DailySoptuneResultPokeView.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Tests/Resources/Empty.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Tests/Sources/Empty.swift
  SOPT-iOS/Projects/Features/RootFeature/Project.swift
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/DailySoptune/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/DailySoptune/img_dailysoptune.imageset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/DailySoptune/img_dailysoptune.imageset/img_dailysoptune.png
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/DailySoptune/img_dailysoptune.imageset/img_dailysoptune@2x.png
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/DailySoptune/img_dailysoptune.imageset/img_dailysoptune@3x.png
  SOPT-iOS/Projects/SOPT-iOS/Sources/Application/SceneDelegate.swift
Labels: Feat, size/S, 재현✦

#387 [Feat] #383 - 솝마디 타이틀, 부적화면 UI 구현
  SOPT-iOS/Projects/Core/Sources/Literals/StringLiterals.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/VC/DailySoptuneCardVC.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/VC/DailySoptuneMainVC.swift
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/DailySoptune/img_titlecards.imageset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/DailySoptune/img_titlecards.imageset/img_titlecards.svg
  SOPT-iOS/Projects/Modules/DSKit/Sources/Components/AppComponents/AppCustomButton.swift
  SOPT-iOS/Projects/Modules/DSKit/Sources/Components/AppComponents/AppOutlinedButton.swift
Labels: size/L

#389 [Feat] #386 - 솝마디 결과 뷰 API 연결
  SOPT-iOS/Projects/Core/Sources/Literals/StringLiterals.swift
  SOPT-iOS/Projects/Data/Sources/Repository/DailySoptuneRepository.swift
  SOPT-iOS/Projects/Data/Sources/Transform/DailySoptuneCardTransform.swift
  SOPT-iOS/Projects/Data/Sources/Transform/PokeRandomUserInfoTransform.swift
  SOPT-iOS/Projects/Demo/Sources/Dependency/RegisterDependencies.swift
  SOPT-iOS/Projects/Domain/Sources/Model/DailySoptuneCardModel.swift
  SOPT-iOS/Projects/Domain/Sources/Model/PokeRandomUserType.swift
  SOPT-iOS/Projects/Domain/Sources/RepositoryInterface/DailySoptuneRepositoyInterface.swift
  SOPT-iOS/Projects/Domain/Sources/UseCase/DailySoptuneUseCase.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Interface/Sources/DailySoptuneFeatureBuildable.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Interface/Sources/DailySoptuneResultPresentable.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/Coordinator/DailySoptuneBuilder.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/Coordinator/DailySoptuneCoordinator.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/VC/DailySoptuneResultVC.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/ViewModel/DailySoptuneResultViewModel.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/Views/DailySoptuneResultContentView.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/Views/DailySoptuneResultPokeView.swift
  SOPT-iOS/Projects/Features/PokeFeature/Interface/Sources/PokeMessageTemplatesPresentable.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/Coordinator/PokeCoordinator.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/Coordinator/PokeMyFriendsCoordinator.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/Coordinator/PokeNotificationListCoordinator.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/Coordinator/PokeOnboardingCoordinator.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/PokeMessageTemplatesScene/PokeMessageTemplateBottomSheet.swift
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/DailySoptune/img_dailysoptune.imageset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/DailySoptune/img_dailysoptune.imageset/img_dailysoptune.png
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/DailySoptune/img_dailysoptune.imageset/img_dailysoptune.svg
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/DailySoptune/img_dailysoptune.imageset/img_dailysoptune@2x.png
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/DailySoptune/img_dailysoptune.imageset/img_dailysoptune@3x.png
  SOPT-iOS/Projects/Modules/Networks/Sources/API/FortuneAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/FortuneCardEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/PokeRandomUserType.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Foundation/BaseAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/FortuneService.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/PokeService.swift
  SOPT-iOS/Projects/SOPT-iOS/Sources/Application/SceneDelegate.swift
  SOPT-iOS/Projects/SOPT-iOS/Sources/Dependency/RegisterDependencies.swift
Labels: Feat, size/XL, 재현✦

#390 [Feat] #388 - 솝마디 메인 뷰 API 연결
  SOPT-iOS/Projects/Data/Sources/Repository/DailySoptuneRepository.swift
  SOPT-iOS/Projects/Data/Sources/Transform/DailyFortuneTransform.swift
  SOPT-iOS/Projects/Demo/Sources/Dependency/RegisterDependencies.swift
  SOPT-iOS/Projects/Domain/Sources/Model/DailySoptuneModel.swift
  SOPT-iOS/Projects/Domain/Sources/RepositoryInterface/DailySoptuneRepositoryInterface.swift
  SOPT-iOS/Projects/Domain/Sources/UseCase/DailySoptuneUseCase.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Interface/Sources/DailySoptuneFeatureBuildable.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Interface/Sources/DailySoptuneMainPresentable.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/Coordinator/DailySoptuneBuilder.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/VC/DailySoptuneCardVC.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/VC/DailySoptuneMainVC.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/ViewModel/DailySoptuneMainViewModel.swift
  SOPT-iOS/Projects/Modules/DSKit/Sources/Components/AppComponents/AppOutlinedButton.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/API/FortuneAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/DailyFortuneResultEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/FortuneService.swift
  SOPT-iOS/Projects/SOPT-iOS/Sources/Dependency/RegisterDependencies.swift
Labels: Feat, size/L, 윤서🍉

#393 [Feat] #391 - 솝마디 메인 뷰 화면 전환 및 데이터 바인딩
  SOPT-iOS/Projects/Core/Sources/Utils/setDateFormat.swift
  SOPT-iOS/Projects/Data/Sources/Transform/AttendanceScheduleTransform.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Interface/Sources/DailySoptuneFeatureBuildable.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Interface/Sources/DailySoptuneMainPresentable.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/Coordinator/DailySoptuneBuilder.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/Coordinator/DailySoptuneCoordinator.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/Coordinator/DeepLinks/DailySoptuneWordDeepLink.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/VC/DailySoptuneMainVC.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/VC/DailySoptuneResultVC.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/ViewModel/DailySoptuneMainViewModel.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/Views/DailySoptuneResultContentView.swift
  SOPT-iOS/Projects/Features/RootFeature/Sources/ApplicationCoordinator.swift
  SOPT-iOS/Projects/Features/RootFeature/Sources/DeepLinks/DailySoptuneDeepLink.swift
Labels: Feat, size/L, 윤서🍉

#394 [Feat] #392 - 솝마디 결과 뷰, 부적 화면 전환 및 데이터 바인딩
  SOPT-iOS/Projects/Core/Sources/Extension/UIKit+/UIColor+.swift
  SOPT-iOS/Projects/Data/Sources/Transform/DailySoptuneCardTransform.swift
  SOPT-iOS/Projects/Domain/Sources/Model/DailySoptuneCardModel.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Interface/Sources/DailySoptuneCardPresentable.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Interface/Sources/DailySoptuneFeatureBuildable.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Interface/Sources/DailySoptuneResultPresentable.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/Coordinator/DailySoptuneBuilder.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/Coordinator/DailySoptuneCardCoordinator.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/Coordinator/DailySoptuneCoordinator.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/Coordinator/DailySoptuneResultCoordinator.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/VC/DailySoptuneCardVC.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/ViewModel/DailySoptuneCardViewModel.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/ViewModel/DailySoptuneMainViewModel.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/ViewModel/DailySoptuneResultViewModel.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/Views/DailySoptuneResultPokeView.swift
  SOPT-iOS/Projects/Features/RootFeature/Sources/ApplicationCoordinator.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/FortuneCardEntity.swift
  SOPT-iOS/Projects/SOPT-iOS/Sources/Dependency/RegisterDependencies.swift
Labels: Feat, size/L, 재현✦
