Repository sopt-makers/SOPT-iOS, pull requests merged in 2024-11, with the labels that each got.

#436 [Feat] #435 - HomeFeature 모듈 생성
  SOPT-iOS/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Dependency+Project.swift
  SOPT-iOS/Projects/Features/HomeFeature/Demo/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  SOPT-iOS/Projects/Features/HomeFeature/Demo/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  SOPT-iOS/Projects/Features/HomeFeature/Demo/Resources/Assets.xcassets/Contents.json
  SOPT-iOS/Projects/Features/HomeFeature/Demo/Resources/LaunchScreen.storyboard
  SOPT-iOS/Projects/Features/HomeFeature/Demo/Sources/Empty.swift
  SOPT-iOS/Projects/Features/HomeFeature/Interface/Sources/Empty.swift
  SOPT-iOS/Projects/Features/HomeFeature/Project.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Empty.swift
  SOPT-iOS/Projects/Features/HomeFeature/Tests/Resources/Empty.swift
  SOPT-iOS/Projects/Features/HomeFeature/Tests/Sources/Empty.swift
  SOPT-iOS/Projects/Features/RootFeature/Project.swift
Labels: Feat, size/L, 재현✦

#437 [Feat] #434 - 신규 홈뷰 공통 컴포넌트 UI 구현
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Components/HomeCategoryTagView.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Components/HomeCustomTextWithArrowButton.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Components/HomeNotificationBadgeView.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Components/HomeProductCardView.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Components/HomeRoundTagView.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Components/HomeServiceCardView.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Components/HomeSquareTagView.swift
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/Home/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/Home/ic_hot.imageset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/Home/ic_hot.imageset/ic_hot.svg
  SOPT-iOS/Projects/Modules/DSKit/Resources/Fonts/SUIT-ExtraBold.otf
Labels: Feat, size/XL, 재현✦

#440 [Feat] #439 - Soptlog 모듈 생성
  SOPT-iOS/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Dependency+Project.swift
  SOPT-iOS/Projects/Features/RootFeature/Project.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Demo/Resources/LaunchScreen.storyboard
  SOPT-iOS/Projects/Features/SoptlogFeature/Demo/Sources/Empty.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Interface/Sources/Empty.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Project.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/Empty.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Tests/Resources/Empty.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Tests/Sources/Empty.swift
Labels: Feat, size/L, 윤서🍉

#446 [Feat] #439 - soptlog 모듈 재생성
  SOPT-iOS/Projects/Features/SoptlogFeature/Demo/Sources/Empty.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Interface/Sources/Empty.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Project.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/Empty.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Tests/Resources/Empty.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Tests/Sources/Empty.swift
Labels: Feat, size/S

#444 [Feat] #443 - 신규 홈뷰 활동/비활동 앱 서비스 섹션 UI 구현
  SOPT-iOS/Projects/Core/Sources/Literals/StringLiterals.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Cells/AppService/AppServiceCardCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Cells/AppService/Empty.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Cells/DashBoard/DashBoardCalendarCardCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Cells/DashBoard/DashBoardHeaderView.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/CollectionView/HomeForMemberCompositionalLayout.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/CollectionView/HomeForMemberSectionLayoutKind.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/VC/HomeForMemberVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/ViewModel/HomeForMemberViewModel.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Views/DashBoard/UserHistoryItemView.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Views/DashBoard/UserHistoryView.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Views/HomeDefaultHeaderView.swift
Labels: Feat, size/L, 재현✦

#447 [Feat] #445 - 신규 홈뷰 활동/비활동 인사이트 섹션 UI 구현
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Cells/Insight/Empty.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Cells/Insight/InsightCardCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/CollectionView/HomeForMemberCompositionalLayout.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/VC/HomeForMemberVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/ViewModel/HomeForMemberViewModel.swift
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/Home/Image/ic_vertical_divider.imageset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/Home/Image/ic_vertical_divider.imageset/ic_vertical_divider.svg
Labels: Feat, size/L, 재현✦

#449 [Feat] #442 - 솝트로그 UI구현
  SOPT-iOS/Projects/Core/Sources/Literals/StringLiterals.swift
  SOPT-iOS/Projects/Features/AuthFeature/Sources/SignInScene/VC/UserNotFoundVC.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/VC/DailySoptuneMainVC.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/VC/DailySoptuneResultVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Cells/Announcements/Empty.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Cells/CoffeeChat/Empty.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Cells/Group/Empty.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/Cells/SocialLinks/Empty.swift
  SOPT-iOS/Projects/Features/RootFeature/Sources/ApplicationCoordinator.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Interface/Sources/Empty.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Interface/Sources/SoptlogFeatureBuildable.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Interface/Sources/SoptlogPresentable.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/Empty.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/Cell/AppServiceSectionBackgroundView.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/Cell/EditProfileCVC.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/Cell/IntroduceCVC.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/Cell/SoptlogAlarmCVC.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/Cell/SoptlogAppServiceCVC.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/Cell/SoptlogHeaderView.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/CollectionView/SoptlogCompositinalLayout.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/CollectionView/SoptlogSectionLayoutKind.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/Coordinator/SoptlogBuilder.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/Coordinator/SoptlogCoordinator.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/VC/SoptlogVC.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/ViewModel/SoptlogViewModel.swift
  SOPT-iOS/Projects/Modules/DSKit/Sources/Components/AppComponents/AppCustomButton.swift
  SOPT-iOS/Projects/Modules/DSKit/Sources/Components/AppComponents/AppOutlinedButton.swift
Labels: Feat, size/XXL
