Repository sopt-makers/SOPT-iOS, pull requests merged in 2025-01, with the labels that each got.

#464 [Feat] #461 - 신규 홈뷰 - 방문자 전용 UI 구현
  SOPT-iOS/Projects/Core/Sources/Literals/StringLiterals.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Cells/Announcements/AnnouncementCardCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Cells/Announcements/AnnouncementPageContolFooterView.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Cells/AppService/AppServiceCardCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Cells/Calendar/CalendarCardCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Cells/DashBoard/DashBoardCardCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Cells/SocialLinks/SocialLinkCardCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/CollectionView/HomeForMemberCompositionalLayout.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/CollectionView/HomeForMemberSectionLayoutKind.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/CollectionView/HomeForVisitorCompositionalLayout.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/CollectionView/HomeForVisitorSectionLayoutKind.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Coordinator/HomeBuilder.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/VC/HomeForMemberVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/VC/HomeForVisitorVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/ViewModel/HomeForVisitorViewModel.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Views/HomeDefaultHeaderView.swift
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/Home/Image/img_homepage.imageset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/Home/Image/img_homepage.imageset/icn_homepage.svg
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/Home/Image/img_instagram.imageset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/Home/Image/img_instagram.imageset/Frame 1171275665.svg
Labels: Feat, size/L, 재현✦

#469 [Feat] #466 -회원가입 API 연동
  SOPT-iOS/Projects/Modules/Networks/Sources/API/CoreAuthAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/API/SocialAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/CoreAuth/ChangeSocialAccountEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/CoreAuth/CoreSignInEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/CoreAuth/LoginEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/CoreAuth/PlatformType.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/CoreAuth/SendVerificationCodeEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/CoreAuth/SignUpEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/CoreAuth/SocialAccountResultEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/CoreAuth/VerifyCodeEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/CoreAuth/VerifyResultEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/CoreAuth/VerifyType.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Foundation/BaseAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/CoreAuthService.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/SocialService.swift
  SOPT-iOS/Projects/Modules/Networks/Tests/Sources/SocialEntityTests.swift
  SOPT-iOS/Projects/Modules/Networks/Tests/Sources/UnitTest.swift
Labels: size/L, 석우🐶

#475 [Feat] #470 - 신규 홈뷰 - 대시보드, 캘린더 섹션 API 연동
  SOPT-iOS/Projects/Core/Sources/Extension/UIKit+/UILabel+.swift
  SOPT-iOS/Projects/Data/Sources/Repository/HomeRepository.swift
  SOPT-iOS/Projects/Data/Sources/Transform/HomeDescriptionTransform.swift
  SOPT-iOS/Projects/Data/Sources/Transform/HomeRecentScheduleTransform.swift
  SOPT-iOS/Projects/Demo/Sources/Dependency/RegisterDependencies.swift
  SOPT-iOS/Projects/Domain/Sources/Model/HomeDescriptionModel.swift
  SOPT-iOS/Projects/Domain/Sources/Model/HomeRecentScheduleModel.swift
  SOPT-iOS/Projects/Domain/Sources/RepositoryInterface/HomeRepositoryInterface.swift
  SOPT-iOS/Projects/Domain/Sources/UseCase/HomeUseCase.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Cells/Calendar/CalendarCardCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Cells/DashBoard/DashBoardCardCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Components/TagTypes/DashBoardCalenderCategoryTagType.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Coordinator/HomeBuilder.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/VC/HomeForMemberVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/VC/HomeForVisitorVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/ViewModel/HomeForMemberViewModel.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/ViewModel/HomeForVisitorViewModel.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/API/CalendarAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/API/HomeAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/CalendarRecentEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/HomeDescriptionEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Foundation/BaseAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/CalendarService.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/HomeService.swift
  SOPT-iOS/Projects/SOPT-iOS/Sources/Dependency/RegisterDependencies.swift
Labels: Feat, size/XL, 재현✦

#463 [Feat] #459 - 일정 상세뷰 UI 구현
  SOPT-iOS/Projects/Core/Sources/Literals/StringLiterals.swift
  SOPT-iOS/Projects/Features/HomeFeature/Interface/Sources/HomeCalendarDetailPresentable.swift
  SOPT-iOS/Projects/Features/HomeFeature/Interface/Sources/HomeFeatureBuildable.swift
  SOPT-iOS/Projects/Features/HomeFeature/Interface/Sources/HomeForMemberPresentable.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/CalendarDetailScene/Cells/HomeCalendarDetailCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/CalendarDetailScene/VC/HomeCalendarDetailVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/CalendarDetailScene/ViewModel/HomeCalendarDetailViewModel.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Components/TagTypes/DashBoardCalenderCategoryTagType.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Coordinator/HomeBuilder.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Coordinator/HomeCoordinator.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/VC/HomeForMemberVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/ViewModel/HomeForMemberViewModel.swift
  SOPT-iOS/Projects/Features/RootFeature/Sources/ApplicationCoordinator.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/CollectionView/SoptlogCompositinalLayout.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/VC/SoptlogVC.swift
Labels: Feat, size/L, 윤서🍉

#479 [Feat] #472 - 신규 홈뷰 - 모임, 커피솝 섹션 API 연동
  SOPT-iOS/Projects/Data/Sources/Repository/HomeRepository.swift
  SOPT-iOS/Projects/Data/Sources/Transform/HomeCoffeeChatPostsTransform.swift
  SOPT-iOS/Projects/Data/Sources/Transform/HomeGroupPostsTransform.swift
  SOPT-iOS/Projects/Domain/Sources/Model/HomeCoffeeChatPostModel.swift
  SOPT-iOS/Projects/Domain/Sources/Model/HomeGroupPostModel.swift
  SOPT-iOS/Projects/Domain/Sources/RepositoryInterface/HomeRepositoryInterface.swift
  SOPT-iOS/Projects/Domain/Sources/UseCase/HomeUseCase.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Cells/CoffeeChat/CoffeeChatCardCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Cells/Group/GroupCardCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Components/TagTypes/GroupCategoryTagType.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Components/TagTypes/RecruitmentStatusTagType.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/VC/HomeForMemberVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/ViewModel/HomeForMemberViewModel.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/API/HomeAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/HomeCoffeeChatEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/HomeGroupEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/HomeService.swift
Labels: Feat, size/L, 재현✦

#481 [Feat] #477 - 솝트로그 API 연동 및 화면전환 구현
  SOPT-iOS/Projects/Core/Sources/Literals/StringLiterals.swift
  SOPT-iOS/Projects/Data/Sources/Repository/SoptlogRepository.swift
  SOPT-iOS/Projects/Data/Sources/Transform/SoptlogTransform.swift
  SOPT-iOS/Projects/Demo/Sources/Dependency/RegisterDependencies.swift
  SOPT-iOS/Projects/Domain/Sources/Model/SoptlogModel.swift
  SOPT-iOS/Projects/Domain/Sources/RepositoryInterface/SoptlogRepositoryInterface.swift
  SOPT-iOS/Projects/Domain/Sources/UseCase/SoptlogUseCase.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Coordinator/HomeBuilder.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Coordinator/HomeCoordinator.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/VC/HomeForMemberVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/ViewModel/HomeForMemberViewModel.swift
  SOPT-iOS/Projects/Features/RootFeature/Sources/ApplicationCoordinator.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Interface/Sources/SoptlogPresentable.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/Cell/EditProfileCVC.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/Cell/IntroduceCVC.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/Cell/SoptlogAlarmCVC.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/Cell/SoptlogAppServiceCVC.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/Cell/SoptlogHeaderView.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/Coordinator/SoptlogBuilder.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/Coordinator/SoptlogCoordinator.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/Model/SoptlogPresentationModel.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/VC/SoptlogVC.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/ViewModel/SoptlogViewModel.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/API/UserAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/ResponseEntity/SoptlogResponseEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/UserService.swift
  SOPT-iOS/Projects/SOPT-iOS/Sources/Dependency/RegisterDependencies.swift
Labels: Feat, size/XL, 윤서🍉

#482 [Feat] #478 - 일정 상세뷰 API 연동
  SOPT-iOS/Projects/Data/Sources/Repository/HomeRepository.swift
  SOPT-iOS/Projects/Data/Sources/Transform/HomeCalendarDetailTrasform.swift
  SOPT-iOS/Projects/Domain/Sources/Model/HomeCalendarDetailModel.swift
  SOPT-iOS/Projects/Domain/Sources/RepositoryInterface/HomeRepositoryInterface.swift
  SOPT-iOS/Projects/Domain/Sources/UseCase/HomeUseCase.swift
  SOPT-iOS/Projects/Features/HomeFeature/Interface/Sources/HomeCalendarDetailPresentable.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/CalendarDetailScene/Cells/HomeCalendarDetailCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/CalendarDetailScene/Model/HomeCalendarDetailPresentationModel.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/CalendarDetailScene/VC/HomeCalendarDetailVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/CalendarDetailScene/ViewModel/HomeCalendarDetailViewModel.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Cells/Calendar/CalendarCardCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Components/TagTypes/CalenderCategoryTagType.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Coordinator/HomeBuilder.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Coordinator/HomeCoordinator.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/VC/HomeForMemberVC.swift
  SOPT-iOS/Projects/Features/RootFeature/Sources/ApplicationCoordinator.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/API/CalendarAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/HomeCalendarDetailResponseEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/CalendarService.swift
Labels: Feat, size/L, 윤서🍉

#474 [Feat] #467 - 회원가입 UI 구현
  SOPT-iOS/Projects/Core/Sources/Extension/Combine+/Publisher+WithLatestFrom.swift
  SOPT-iOS/Projects/Core/Sources/Extension/Foundation+/Int+.swift
  SOPT-iOS/Projects/Core/Sources/Utils/addToolBar.swift
  SOPT-iOS/Projects/Domain/Sources/Error/PhoneVerifyError.swift
  SOPT-iOS/Projects/Domain/Sources/Model/PhoneVerifyModel.swift
  SOPT-iOS/Projects/Domain/Sources/UseCase/PhoneVerifyUseCase.swift
  SOPT-iOS/Projects/Domain/Sources/UseCase/SignUpUseCase.swift
  SOPT-iOS/Projects/Features/AuthFeature/Interface/Sources/AuthFeatureBuildable.swift
  SOPT-iOS/Projects/Features/AuthFeature/Interface/Sources/SignInPresentable.swift
  SOPT-iOS/Projects/Features/AuthFeature/Interface/Sources/SignUpPhoneVerifyPresentable.swift
  SOPT-iOS/Projects/Features/AuthFeature/Interface/Sources/SignUpPresentable.swift
  SOPT-iOS/Projects/Features/AuthFeature/Sources/Coordinator/AuthBuilder.swift
  SOPT-iOS/Projects/Features/AuthFeature/Sources/Coordinator/AuthCoordinator.swift
  SOPT-iOS/Projects/Features/AuthFeature/Sources/PhoneVerifyScene/PhoneVerifyView.swift
  SOPT-iOS/Projects/Features/AuthFeature/Sources/PhoneVerifyScene/PhoneVerifyViewModel.swift
  SOPT-iOS/Projects/Features/AuthFeature/Sources/SignInScene/VC/SignInVC.swift
  SOPT-iOS/Projects/Features/AuthFeature/Sources/SignInScene/ViewModel/SignInViewModel.swift
  SOPT-iOS/Projects/Features/AuthFeature/Sources/SignUpScene/OAuth/SignUpOAuthView.swift
  SOPT-iOS/Projects/Features/AuthFeature/Sources/SignUpScene/SignUp/SignUpVC.swift
  SOPT-iOS/Projects/Features/AuthFeature/Sources/SignUpScene/SignUp/SignUpViewModel.swift
  SOPT-iOS/Projects/Features/AuthFeature/Sources/SignUpScene/VC/SignUpPhoneVerifyVC.swift
  SOPT-iOS/Projects/Features/AuthFeature/Sources/SignUpScene/ViewModel/SignUpPhoneVerifyViewModel.swift
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/SignUp/info-circle.imageset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/SignUp/info-circle.imageset/info-circle.png
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/SignUp/info-circle.imageset/info-circle@2x.png
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/SignUp/info-circle.imageset/info-circle@3x 1.png
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/SignUp/signUpCompleteImg.imageset/Group 57203.png
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/SignUp/signUpCompleteImg.imageset/Group 57203@2x.png
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/SignUp/signUpCompleteImg.imageset/Group 57203@3x.png
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/blue/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/blue/blue100.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/blue/blue200.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/blue/blue300.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/blue/blue400.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/blue/blue50.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/blue/blue500.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/blue/blue600.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/blue/blue700.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/blue/blue800.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/blue/blue900.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/red/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/red/red100.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/red/red200.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/red/red300.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/red/red400.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/red/red50.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/red/red500.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/red/red600.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/red/red700.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/red/red800.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/SemanticColorScale/red/red900.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Sources/Components/AppComponents/AppImageTextButton.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/SocialService.swift
Labels: size/XXL

#480 [Feat] #473 - 신규 홈뷰 - 홍보 섹션 API 연동
  SOPT-iOS/Projects/Data/Sources/Repository/HomeRepository.swift
  SOPT-iOS/Projects/Data/Sources/Transform/HomeAnnouncementTransform.swift
  SOPT-iOS/Projects/Domain/Sources/Model/HomeAnnouncementModel.swift
  SOPT-iOS/Projects/Domain/Sources/RepositoryInterface/HomeRepositoryInterface.swift
  SOPT-iOS/Projects/Domain/Sources/UseCase/HomeUseCase.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Cells/Announcements/AnnouncementCardCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Components/HomeCategoryTagView.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/VC/HomeForMemberVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/ViewModel/HomeForMemberViewModel.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/API/HomeAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/ResponseEntity/HomeEmploymentResponseEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/HomeService.swift
Labels: Feat, size/L, 재현✦

#485 [Hotfix] #484 - WKWebView에서 이미지 다운로드 발생 시 갤러리에 저장하는 기능을 구현한다.
  SOPT-iOS/Projects/Core/Sources/Utils/makeAlert.swift
  SOPT-iOS/Projects/Features/BaseFeatureDependency/Sources/WebView/Download/WKDownloadExecutable.swift
  SOPT-iOS/Projects/Features/BaseFeatureDependency/Sources/WebView/Download/WKDownloadManager.swift
  SOPT-iOS/Projects/Features/BaseFeatureDependency/Sources/WebView/Download/WKImageDownloadHandler.swift
  SOPT-iOS/Projects/Features/BaseFeatureDependency/Sources/WebView/SOPTWebView.swift
Labels: size/L
