Repository sopt-makers/SOPT-iOS, pull requests merged in 2025-05, with the labels that each got.

#553 [Refactor] #533 - 콕찌르기 메모리 최적화
  SOPT-iOS/Projects/Core/Sources/Extension/Combine+UIKit/Publisher+UIGesture.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/Components/PokeBottomSheetMessageView.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/Components/PokeNotificationListContentView.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/Components/PokeProfileCardView.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/Components/PokeProfileListView.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/Coordinator/PokeBuilder.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/Coordinator/PokeCoordinator.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/Coordinator/PokeMyFriendsCoordinator.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/Coordinator/PokeNotificationListCoordinator.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/Coordinator/PokeOnboardingCoordinator.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/PokeMainScene/ViewModel/PokeMainViewModel.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/PokeMyFriendsListScene/VC/PokeMyFriendsListVC.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/PokeMyFriendsScene/ViewModel/PokeMyFriendsViewModel.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/PokeMyFriendsScene/Views/PokeFriendsSectionGroupView.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/PokeOnboardingScene/Cell/PokeOnboardingCollectionViewCell.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/PokeOnboardingScene/PokeOnboardingBottomSheet/PokeOnboardingBottomSheet.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/PokeOnboardingScene/PokeOnboardingViewController.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/PokeOnboardingScene/VC/PokeOnboardingVC.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/PokeOnboardingScene/ViewModel/PokeOnboardingViewModel.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/PokeOnboardingScene/Views/PokeOnboardingHorizontalStackView.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/PokeOnboardingScene/Views/PokeOnboardingNavigationBar.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/PokeOnboardingScene/Views/PokeOnboardingSectionView.swift
  SOPT-iOS/Projects/Features/StampFeature/Sources/ListDetailScene/VC/ListDetailVC.swift
Labels: Fix, Refactor, size/XXL, 윤서🍉

#575 [Feat] #561 - 홈 플로팅 버튼 구현
  SOPT-iOS/Projects/Core/Sources/Extension/UIKit+/UIView+.swift
  SOPT-iOS/Projects/Features/AppMyPageFeature/Sources/AppMypageScene/View/MyPageSectionListItemView.swift
  SOPT-iOS/Projects/Features/AppMyPageFeature/Sources/AppMypageSubScene/NotificationSettingByFeaturesScene/View/NotificationSettingsListItemView.swift
  SOPT-iOS/Projects/Features/AppMyPageFeature/Sources/SOPTampScene/VC/PrivacyPolicyVC.swift
  SOPT-iOS/Projects/Features/AppMyPageFeature/Sources/SOPTampScene/VC/SentenceEditVC.swift
  SOPT-iOS/Projects/Features/AppMyPageFeature/Sources/SOPTampScene/VC/TermsOfServiceVC.swift
  SOPT-iOS/Projects/Features/AppMyPageFeature/Sources/SOPTampScene/VC/WithdrawalVC.swift
  SOPT-iOS/Projects/Features/AuthFeature/Sources/SignInScene/VC/Refactor/CoreSignInVC.swift
  SOPT-iOS/Projects/Features/AuthFeature/Sources/SignInScene/VC/SignInVC.swift
  SOPT-iOS/Projects/Features/BaseFeatureDependency/Sources/Alert/AlertVCTheme.swift
  SOPT-iOS/Projects/Features/DailySoptuneFeature/Sources/DailySoptuneScene/VC/DailySoptuneCardVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Interface/Sources/HomeForMemberPresentable.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Cells/DashBoard/DashBoardCardCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Cells/Insight/InsightCardCVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Components/ComponentTypes/CalenderCategoryTagType.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Components/ComponentTypes/CoffeeChatGenerationHistoryTagType.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Components/ComponentTypes/ExtendedFAButtonType.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Components/ExtendedFAButton.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/VC/HomeForMemberVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/VC/HomeForVisitorVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/ViewModel/HomeForMemberViewModel.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Views/DashBoard/UserHistoryView.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Views/HomeDefaultHeaderView.swift
  SOPT-iOS/Projects/Features/NotificationFeature/Sources/NotificationListScene/Cells/NotificationFilterCVC.swift
  SOPT-iOS/Projects/Features/RootFeature/Sources/ApplicationCoordinator.swift
  SOPT-iOS/Projects/Features/SoptlogFeature/Sources/SoptlogScene/VC/SoptlogToolTipVC.swift
  SOPT-iOS/Projects/Features/SplashFeature/Sources/SplashScene/VC/NoticePopUpVC.swift
  SOPT-iOS/Projects/Features/StampFeature/Sources/Components/STLevelTenStarView.swift
  SOPT-iOS/Projects/Features/TabBarFeature/Sources/Controller/TabBarController.swift
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/Home/Button/btn_right_chevron.imageset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/Home/Button/btn_right_chevron.imageset/chevron-right.svg
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/GrayScale/shadow.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/PointColor/orange400.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/PointColor/orange500.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/PointColor/orange700.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/PointColor/orange800.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Sources/Components/AppComponents/AppCustomButton.swift
  SOPT-iOS/Projects/Modules/DSKit/Sources/Components/AppComponents/AppOutlinedButton.swift
  SOPT-iOS/Projects/Modules/DSKit/Sources/Components/AppComponents/AppTextFieldView.swift
Labels: Feat, size/XL, 윤서🍉

#581 [Feat] #576 - 홈 플로팅 버튼 API 연결
  SOPT-iOS/Projects/Data/Sources/Repository/HomeRepository.swift
  SOPT-iOS/Projects/Data/Sources/Transform/HomeFloatingButtonTransform.swift
  SOPT-iOS/Projects/Domain/Sources/Model/HomeFloatingButtonModel.swift
  SOPT-iOS/Projects/Domain/Sources/RepositoryInterface/HomeRepositoryInterface.swift
  SOPT-iOS/Projects/Domain/Sources/UseCase/HomeUseCase.swift
  SOPT-iOS/Projects/Features/HomeFeature/Interface/Sources/HomeForMemberPresentable.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Components/ComponentTypes/ExtendedFloatingButtonType.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Components/HomeExtendedFloatingButton.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Coordinator/HomeCoordinator.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Coordinator/LegacyHomeCoordinator.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Models/HomeFloatingButtonPresentationModel.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Models/HomePresentationModel.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/VC/HomeForMemberVC.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/ViewModel/HomeForMemberViewModel.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/API/HomeAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/ResponseEntity/HomeFloatingButtonResponseEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/ResponseEntity/SoptlogResponseEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/HomeService.swift
Labels: Feat, size/L, 윤서🍉

#582 [Add] #579 - infoplist에 구글 로그인 정보 추가
  SOPT-iOS/Plugins/EnvPlugin/ProjectDescriptionHelpers/InfoPlists.swift
Labels: size/S

#584 [Del] #583 - MainFeature 잔여코드 제거
  SOPT-iOS/Projects/Core/Sources/Enum/ServiceType.swift
  SOPT-iOS/Projects/Core/Sources/Enum/ServiceTypeTransform.swift
  SOPT-iOS/Projects/Core/Sources/Literals/StringLiterals.swift
  SOPT-iOS/Projects/Data/Sources/Repository/MainRepository.swift
  SOPT-iOS/Projects/Data/Sources/Transform/MainDescriptionTransform.swift
  SOPT-iOS/Projects/Demo/Sources/Dependency/RegisterDependencies.swift
  SOPT-iOS/Projects/Domain/Sources/Model/MainDescriptionModel.swift
  SOPT-iOS/Projects/Domain/Sources/RepositoryInterface/MainRepositoryInterface.swift
  SOPT-iOS/Projects/Domain/Sources/UseCase/MainUseCase.swift
  SOPT-iOS/Projects/Domain/Tests/Sources/Mock/MockRepository/MockMainRepository.swift
  SOPT-iOS/Projects/Domain/Tests/Sources/UseCaseTests/MainUseCaseTests.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Entity/MainDescriptionEntity.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/DescriptionService.swift
  SOPT-iOS/Projects/SOPT-iOS/Sources/Dependency/RegisterDependencies.swift
Labels: Del, size/XL, 윤서🍉
