Repository sopt-makers/SOPT-iOS, pull requests merged in 2025-04, with the labels that each got.

#538 [Fix] #536 - tabbar UI
  SOPT-iOS/Projects/Core/Sources/Literals/StringLiterals.swift
  SOPT-iOS/Projects/Features/TabBarFeature/Sources/Components/TabBarItem.swift
  SOPT-iOS/Projects/Features/TabBarFeature/Sources/Controller/TabBarController.swift
Labels: Fix, size/S, 윤서🍉

#543 [Fix] #542 - /poke/friend 404 에러 처리
  SOPT-iOS/Projects/Data/Sources/Repository/HomeRepository.swift
  SOPT-iOS/Projects/Demo/Sources/Dependency/RegisterDependencies.swift
  SOPT-iOS/Projects/Domain/Sources/RepositoryInterface/HomeRepositoryInterface.swift
  SOPT-iOS/Projects/Domain/Sources/UseCase/HomeUseCase.swift
  SOPT-iOS/Projects/Features/HomeFeature/Interface/Sources/HomeForMemberPresentable.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Coordinator/HomeCoordinator.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/ViewModel/HomeForMemberViewModel.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/PokeMainScene/ViewModel/PokeMainViewModel.swift
  SOPT-iOS/Projects/Features/RootFeature/Sources/ApplicationCoordinator.swift
  SOPT-iOS/Projects/SOPT-iOS/Sources/Dependency/RegisterDependencies.swift
Labels: Fix, size/M, 윤서🍉

#546 [Fix] #545 - 솝탬프 다크모드 대응 QA 반영
  SOPT-iOS/Projects/Core/Sources/Extension/UIKit+/UILabel+.swift
  SOPT-iOS/Projects/Features/HomeFeature/Sources/HomeScene/Cells/DashBoard/DashBoardCardCVC.swift
  SOPT-iOS/Projects/Features/StampFeature/Sources/ListDetailScene/VC/ListDetailVC.swift
  SOPT-iOS/Projects/Features/StampFeature/Sources/ListDetailScene/View/MissionDateView.swift
  SOPT-iOS/Projects/Features/StampFeature/Sources/ListDetailScene/View/MissionView.swift
  SOPT-iOS/Projects/Features/StampFeature/Sources/ListDetailScene/ViewModel/ListDetailViewModel.swift
  SOPT-iOS/Projects/Features/StampFeature/Sources/MissionListScene/Cells/MissionListCVC.swift
Labels: Fix, size/M, 재현✦

#548 [Del] #540 - MainFeature 관련 코드들 삭제
  SOPT-iOS/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Dependency+Project.swift
  SOPT-iOS/Projects/Features/MainFeature/Demo/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  SOPT-iOS/Projects/Features/MainFeature/Demo/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  SOPT-iOS/Projects/Features/MainFeature/Demo/Resources/Assets.xcassets/Contents.json
  SOPT-iOS/Projects/Features/MainFeature/Demo/Resources/Launch Screen.storyboard
  SOPT-iOS/Projects/Features/MainFeature/Demo/Sources/Demo.swift
  SOPT-iOS/Projects/Features/MainFeature/Interface/Sources/MainFeatureBuildable.swift
  SOPT-iOS/Projects/Features/MainFeature/Interface/Sources/MainPresentable.swift
  SOPT-iOS/Projects/Features/MainFeature/Project.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/Cells/AppService/AppServiceCVC.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/Cells/AppService/AppServiceHeaderView.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/Cells/MainService/HotBoardHeaderView.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/Cells/MainService/MainServiceCVC.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/Cells/MainService/MainServiceHeaderView.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/Cells/MainService/ProductCVC.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/Cells/UsersHistory/UserHistoryCVC.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/Cells/UsersHistory/UserHistoryHeaderView.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/CollectionView/MainViewCompositionalLayout.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/CollectionView/MainViewSectionLayoutKind.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/Coordinator/MainBuilder.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/Coordinator/MainCoordinator.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/VC/MainVC.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/ViewModel/MainHeaderViewType.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/ViewModel/MainViewModel.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/ViewModel/ServiceTypeExtension.swift
  SOPT-iOS/Projects/Features/MainFeature/Sources/MainScene/Views/MainNavigationBar.swift
  SOPT-iOS/Projects/Features/MainFeature/Tests/Resources/dummy.txt
  SOPT-iOS/Projects/Features/MainFeature/Tests/Sources/MainViewModelTests/MainViewModelTests.swift
  SOPT-iOS/Projects/Features/MainFeature/Tests/Sources/MainViewModelTests/MockMainUseCase.swift
  SOPT-iOS/Projects/Features/MainFeature/Tests/Sources/UnitTest.swift
  SOPT-iOS/Projects/Features/RootFeature/Sources/ApplicationCoordinator.swift
  SOPT-iOS/Projects/Features/TabBarFeature/Project.swift
Labels: Del, size/XXL, 재현✦

#550 [Feat] #539 - TabBar FAB 구현
  SOPT-iOS/Projects/Core/Sources/Literals/ExternalURL.swift
  SOPT-iOS/Projects/Core/Sources/Literals/StringLiterals.swift
  SOPT-iOS/Projects/Features/TabBarFeature/Interface/Sources/TabBarPresentable.swift
  SOPT-iOS/Projects/Features/TabBarFeature/Sources/Cells/FABMenuCVC.swift
  SOPT-iOS/Projects/Features/TabBarFeature/Sources/Cells/FABMenuDecorationView.swift
  SOPT-iOS/Projects/Features/TabBarFeature/Sources/Cells/FABMenuHeaderView.swift
  SOPT-iOS/Projects/Features/TabBarFeature/Sources/CollectionView/TabBarFABCompositionalLayout.swift
  SOPT-iOS/Projects/Features/TabBarFeature/Sources/CollectionView/TabBarMenuSection.swift
  SOPT-iOS/Projects/Features/TabBarFeature/Sources/Controller/TabBarController.swift
  SOPT-iOS/Projects/Features/TabBarFeature/Sources/Coordinator/TabBarCoordinator.swift
  SOPT-iOS/Projects/Features/TabBarFeature/Sources/ViewModel/TabBarViewModel.swift
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/TabBar/ic_fab_bolt.imageset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/TabBar/ic_fab_bolt.imageset/ic_fab_bolt.svg
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/TabBar/ic_fab_fire.imageset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/TabBar/ic_fab_fire.imageset/ic_fab_fire.svg
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/TabBar/ic_fab_group.imageset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/TabBar/ic_fab_group.imageset/ic_fab_group.svg
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/TabBar/ic_fab_homepage.imageset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/TabBar/ic_fab_homepage.imageset/ic_fab_homepage.svg
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/TabBar/ic_fab_pencil.imageset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/TabBar/ic_fab_pencil.imageset/ic_fab_pencil.svg
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/TabBar/ic_fab_plus.imageset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/TabBar/ic_fab_plus.imageset/plus.svg
Labels: Feat, size/XL, 윤서🍉

#549 [Feat] #547 - 알림 리스트 필터 기능 구현
  SOPT-iOS/Projects/Features/NotificationFeature/Sources/NotificationListScene/Cells/NotificationFilterCVC.swift
  SOPT-iOS/Projects/Features/NotificationFeature/Sources/NotificationListScene/CollectionViewLayout/NotificationListViewCompositionalLayout.swift
  SOPT-iOS/Projects/Features/NotificationFeature/Sources/NotificationListScene/VC/NotificationListVC.swift
  SOPT-iOS/Projects/Features/NotificationFeature/Sources/NotificationListScene/ViewModel/NotificationFilterType.swift
  SOPT-iOS/Projects/Features/NotificationFeature/Sources/NotificationListScene/ViewModel/NotificationListViewModel.swift
Labels: Feat, size/M, 재현✦

#552 [Feat] #551 - 솝탬프 특별 미션 기능 구현
  SOPT-iOS/Projects/Core/Sources/Enum/StarViewLevel.swift
  SOPT-iOS/Projects/Core/Sources/Literals/StringLiterals.swift
  SOPT-iOS/Projects/Features/StampFeature/Sources/Components/STLevelTenStarView.swift
  SOPT-iOS/Projects/Features/StampFeature/Sources/Components/STStarView.swift
  SOPT-iOS/Projects/Features/StampFeature/Sources/ListDetailScene/VC/ListDetailVC.swift
  SOPT-iOS/Projects/Features/StampFeature/Sources/ListDetailScene/View/MissionView.swift
  SOPT-iOS/Projects/Features/StampFeature/Sources/ListDetailScene/ViewModel/ListDetailViewModel.swift
  SOPT-iOS/Projects/Features/StampFeature/Sources/MissionCompletedScene/VC/MissionCompletedVC.swift
  SOPT-iOS/Projects/Features/StampFeature/Sources/MissionListScene/Cells/MissionListCVC.swift
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/MissionList/levelTenStamp.imageset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Assets.xcassets/MissionList/levelTenStamp.imageset/levelTenStamp.svg
  SOPT-iOS/Projects/Modules/DSKit/Resources/Colors.xcassets/Main/PointColor/orange300.colorset/Contents.json
  SOPT-iOS/Projects/Modules/DSKit/Resources/Lotties/orangeStamp.json
Labels: Feat, size/L, 재현✦

#556 [Fix] #555 - FAB UX 라이팅 및 URL 수정
  SOPT-iOS/Projects/Core/Sources/Literals/ExternalURL.swift
  SOPT-iOS/Projects/Core/Sources/Literals/StringLiterals.swift
  SOPT-iOS/Projects/Features/TabBarFeature/Sources/CollectionView/TabBarMenuSection.swift
Labels: Fix, size/S, 윤서🍉

#554 [Refactor] #418 - Tuist4 migration 및 Sentry 제거
  SOPT-iOS/.gitignore
  SOPT-iOS/.tuist-version
  SOPT-iOS/Makefile
  SOPT-iOS/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Dependency+SPM.swift
  SOPT-iOS/Plugins/EnvPlugin/ProjectDescriptionHelpers/Environment.swift
  SOPT-iOS/Plugins/EnvPlugin/ProjectDescriptionHelpers/InfoPlists.swift
  SOPT-iOS/Projects/Demo/Sources/Application/AppDelegate.swift
  SOPT-iOS/Projects/Features/AppMyPageFeature/Sources/SOPTampScene/Views/SettingCVC.swift
  SOPT-iOS/Projects/Features/AuthFeature/Sources/SignInScene/VC/Refactor/CoreSignInVC.swift
  SOPT-iOS/Projects/Features/AuthFeature/Sources/SignInScene/VC/SignInVC.swift
  SOPT-iOS/Projects/Features/PokeFeature/Sources/PokeOnboardingScene/SubViews/PokeOnboardingNavigationBar.swift
  SOPT-iOS/Projects/Features/RootFeature/Sources/NotificationHelpers/NotificationPayload.swift
  SOPT-iOS/Projects/Features/RootFeature/Sources/NotificationHelpers/Parser/DeepLinkParser.swift
  SOPT-iOS/Projects/Features/RootFeature/Sources/NotificationHelpers/Parser/WebLinkParser.swift
  SOPT-iOS/Projects/Features/WebFeature/Sources/WebViewNavigationBar.swift
  SOPT-iOS/Projects/Modules/DSKit/Sources/Components/OperationComponents/OPNavigationBar.swift
  SOPT-iOS/Projects/Modules/DSKit/Sources/Components/SoptampComponents/STNavigationBar.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/API/CalendarAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/API/FortuneAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/API/HomeAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/API/NotificationAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Foundation/BaseAPI.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Foundation/BaseService.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/AttendanceService.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/StampService.swift
  SOPT-iOS/Projects/Modules/Networks/Sources/Service/UserService.swift
  SOPT-iOS/Projects/Modules/ThirdPartyLibs/Project.swift
  SOPT-iOS/Projects/SOPT-iOS/Sources/Application/AppDelegate.swift
  SOPT-iOS/Tuist/Dependencies.swift
  SOPT-iOS/Tuist/Package.swift
  SOPT-iOS/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
  SOPT-iOS/Tuist/ProjectDescriptionHelpers/Scripts.swift
Labels: Del, Refactor, size/L, 윤서🍉
